{% extends "base.html" %}

{% block content %}
<section class="category">
    <span>Books by category:</span>
    {% if categories %}
        <span class="category_nav">
            {% for category in categories %}
                <a href="{{ category.get_absolute_url }}">{{ category }}</a> |
            {% endfor %}
        </span>
    {% else %}
        <p>There are no categories in the database</p>
    {% endif %}
</section>
<h2>Author: {{ author }}</h2>
<section class="book">
    {% if author.book_set.all %}
        {% for book in author.book_set.all %}
            <section class="title_author">
                <span class="book_title">
                <a href="{{ book.url }}">{{ book }}</a>
                </span>
            </section>
            <p>{{ book.summary }}</p>
            <section class="favorite_date">
                <span>
                    {% if request.user.is_authenticated %}
                        <form class="button_inline" action="{% url 'book_favorite' book_pk=book.pk %}" method="POST">
                            {% csrf_token %}
                            {% if book in request.user.favorite_books.all %}
                                <!--'favorite_books' is the related name of the ManyToManyField 'favorited_by' declared in the Book model-->
                                <button class="unfavorite_button" type="submit">Unfavorite this book</button>
                            {% else %}
                                <button class="favorite_button" type="submit">Favorite this book</button>
                            {% endif %}
                        </form>
                    {% endif %}          
                </span>
                <span class="book_info">Favorited {{ book.favorite_set.count }} time(s) | </span>
                <span class="book_info">added {{ book.date_added }} | </span>
                <span class="book_info">Category: 
                    {% for category in book.category.all %}
                        <!--'book.category.all' is used instead of 'book.category_set.all' is used here b/c the ManyToMany declaration was done in the Book class definition-->
                        <a href="{{ category.get_absolute_url }}">{{ category }}</a>,
                    {% endfor %}
                </span>
            </section>
        {% endfor %}
    {% else %}
        <p>There are no books in the database</p>
    {% endif %}
</section>
{% endblock %}